@model LoginModel
@{
    ViewData["Title"] = "Login Page";
}

@section loginstyles {
    <link rel="stylesheet" href="~/css/Login.css" />
}

<div class="container">
    <h1>Welcome back</h1>
    <p class="subtitle">Please enter your details to sign in</p>

    <form asp-action="Login">
        <div class="input-group">
            <label for="username">Username</label>
            <input asp-for="Username" id="username" placeholder="Enter your username" required>
        </div>

        <div class="input-group">
            <label for="password">Password</label>
            <input asp-for="Password" id="password" placeholder="Enter your password" required>
        </div>

        <button type="submit">Přihlásit se</button>
    </form>

    <div class="signup-link">
        Nemáte účet, <a asp-controller="Register" asp-action="Index">Registrujte se</a>
    </div>
</div>