@{
    ViewData["Title"] = "Boty E-shop";
}

<!DOCTYPE html>
<html lang="cs-cz">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <meta charset="utf-8">

    <link rel="stylesheet" href="Styles.css">
</head>

<body>
    <header>
        <span>777 666 555 | info@nejlepsiboty.cz</span>
        <a href="#">
            <img src="images/img/profile-user.png" alt="profile">
            <span class="login">Přihlásit se</span>
        </a>
    </header>

    <section class="upper-images">
        <a href="index.html"><img src="images/img/Group 4.png" alt="shoeslogo"></a>
        <a href="#"><img src="images/img/loupe.png" alt="loupe" class="gr"></a>
        <a href="demand.html"><img src="images/img/shopping-cart.png" alt="cart" class="gr"></a>
        <a href="#"><img src="images/img/heart.png" alt="heart" class="gr"></a>
    </section>

    <table class="categories-table">
        <tbody>
            <tr>
                <td class="uppertd">Chlapecké<img src="images/img/Group 169.png" alt="boy"></td>
                <td class="uppertd">Dívčí<img src="images/img/Group 171.png" alt="girl"></td>
            </tr>

            <tr>
                <td class="uppertd">Doplňky</td>
                <td class="uppertd">Ostatní</td>
            </tr>
        </tbody>
    </table>

    <div class="top-advert">
        <p class="under-title">Nová dívčí kolekce šetrná k dětským nohám</p>
        <p class="main-title">Nejen do města, ale i do přírody</p>

        <div class="products-button">
            <a href="#">
                zobrazit celou nabídku
            </a>
        </div>
    </div>

    <section class="lower-categories">
        <a href="#" class="boys">
            <div class="lower-div-m">
                <p>Klučičí boty</p>
            </div>
        </a>

        <a href="#" class="girls">
            <div class="lower-div-f">
                <p>Dívčí boty</p>
            </div>
        </a>

        <a href="#" class="other">
            <div class="lower-div-o">
                <p>Jak správně vybrat?</p>
            </div>
        </a>
    </section>

    <div class="divider">
        <img src="images/img/Group 295.png" alt="feet">
    </div>

    <section class="products">
        <div class="start-text">
            <p class="upper-text">Nejnovější kousky</p>
            <p class="lower-text">v naší nabídce</p>
        </div>

        <div class="product">
            <a href="product.html">
                <img src="images/img2/Barefoot-Brown.png" alt="hnědá bota">
                <p>Papučky barefoot hnědé kožené</p>
                <span class="new-price">529 Kč</span>
                <span class="old-price">699 Kč</span>
                <img src="images/img/shopping-cart.png" alt="cart" class="product-cart">
            </a>
        </div>

        <div class="product">
            <a href="product.html">
                <img src="images/img2/Barefoot-Pink.png" alt="růžová bota">
                <p>Papučky barefoot růžové</p>
                <span class="new-price">529 Kč</span>
                <span class="old-price">699 Kč</span>
                <img src="images/img/shopping-cart.png" alt="cart" class="product-cart">
            </a>
        </div>

        <div class="product">
            <a href="product.html">
                <img src="images/img2/Sandals-Blue.png" alt="modré sandále">
                <p>Sandálky modré umělé</p>
                <span class="new-price">529 Kč</span>
                <span class="old-price">699 Kč</span>
                <img src="images/img/shopping-cart.png" alt="cart" class="product-cart">
            </a>
        </div>

        <div class="product">
            <a href="product.html">
                <img src="images/img2/High-Shoes.png" alt="modré vysoké boty">
                <p>Netlačící boty s vysokou špičkou</p>
                <span class="new-price">529 Kč</span>
                <span class="old-price">699 Kč</span>
                <img src="images/img/shopping-cart.png" alt="cart" class="product-cart">
            </a>
        </div>

        <div class="product">
            <a href="product.html">
                <img src="images/img2/Barefoot-Brown.png" alt="hnědá bota">
                <p>Papučky barefoot hnědé kožené</p>
                <span class="new-price">529 Kč</span>
                <span class="old-price">699 Kč</span>
                <img src="images/img/shopping-cart.png" alt="cart" class="product-cart">
            </a>
        </div>

        <div class="product">
            <a href="product.html">
                <img src="images/img2/Barefoot-Pink.png" alt="růžová bota">
                <p>Papučky barefoot růžové</p>
                <span class="new-price">529 Kč</span>
                <span class="old-price">699 Kč</span>
                <img src="images/img/shopping-cart.png" alt="cart" class="product-cart">
            </a>
        </div>

        <div class="product">
            <a href="product.html">
                <img src="images/img2/Sandals-Blue.png" alt="modré sandále">
                <p>Sandálky modré umělé</p>
                <span class="new-price">529 Kč</span>
                <span class="old-price">699 Kč</span>
                <img src="images/img/shopping-cart.png" alt="cart" class="product-cart">
            </a>
        </div>

        <div class="product">
            <a href="product.html">
                <img src="images/img2/High-Shoes.png" alt="modré vysoké boty">
                <p>Netlačící boty s vysokou špičkou</p>
                <span class="new-price">529 Kč</span>
                <span class="old-price">699 Kč</span>
                <img src="images/img/shopping-cart.png" alt="cart" class="product-cart">
            </a>
        </div>

        <div class="products-button">
            <a href="#">
                zobrazit celou nabídku
            </a>
        </div>
    </section>

    <div class="divider">
        <img src="images/img/Group 295.png" alt="feet">
    </div>

    <section class="storage">
        <div class="storage-availability">
            <img src="images/img/Group 195.png" alt="storage">
            <p>Vše máme skladem</p>
        </div>

        <div class="free-delivery">
            <img src="images/img/Group 196.png" alt="delivery">
            <p>Doprava zdarma</p>
        </div>

        <div class="size-measurement">
            <img src="images/img/Group 293.png" alt="measure">
            <p>Jak měřit velikost</p>
        </div>
    </section>

    <div class="newsletter">
        <p class="upper-text-form">Nezmeškejte nové a výhodné akce</p>
        <p class="lower-text-form">Zadejte svůj email a obratem vám zašleme PDF s inspirací zdarma.</p>

        <form action="newsletter.php" method="get" class="newsletter-form">
            <input type="email" name="newsletter" placeholder="Zadej svůj email..." required>

            <div class="products-button">
                <button type="submit">
                    <a href="#">
                        přihlásit
                    </a>
                </button>
            </div>
        </form>
    </div>

    <div class="bottom-part">
        <div class="pre-footer">
            <p class="pre-footer-capitals">O nás</p>
            <p class="Lorem">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis quia corporis molestias tempora laudantium dolore ipsam tempore voluptatibus beatae inventore atque porro eligendi nostrum qui, adipisci officiis optio numquam aspernatur.
            </p>

            <img src="images/img/Logo_white.png" alt="shoeslogo">

            <p class="pre-footer-capitals">Naše nabídka</p>

            <div class="Lists-grid">
                <div>
                    <p>Dívčí</p>
                    <ul class="pr-f-list">
                        <li>
                            Tenisky
                        </li>
                        <li>
                            Holinky
                        </li>
                        <li>
                            Sandály
                        </li>
                        <li>
                            Baleríny
                        </li>
                        <li>
                            Polobotky
                        </li>
                    </ul>
                </div>

                <div>
                    <p>Chlapecké</p>
                    <ul class="pr-f-list">
                        <li>
                            Tenisky
                        </li>
                        <li>
                            Holinky
                        </li>
                        <li>
                            Sandály
                        </li>
                        <li>
                            Baleríny
                        </li>
                        <li>
                            Polobotky
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <footer>
            <p class="footer-capitals">Kontaktujte nás</p>

            <div class="footer-contact">
                <img src="images/img/6.png" alt="letter">
                <span>info@nejlepsiboty.cz</span>
            </div>

            <div class="footer-contact">
                <img src="images/img/8.png" alt="phone">
                <span>+420 777 666 555</span>
            </div>

            <div class="footer-socials">
                <img src="images/img/facebook.png" alt="fb">
                <img src="images/img/Group 153.png" alt="instagram">
                <img src="images/img/twitter.png" alt="X">
            </div>

            <p>Livtvínovská 600, Praha 9, 190 00</p>
        </footer>
    </div>
</body>
</html>