@model List<CategoriesModel>
@{
    ViewData["Title"] = "Categories";
}

@section categorystyles {
    <link rel="stylesheet" href="~/css/Categories.css" />
}

@foreach (var category in Model)
{
    <div class="category-info">
        <div>@category.Name</div>
        <div>@category.Description</div>
    </div>
}