@model ViewModel
@{
    ViewData["Title"] = "AdminPanel";
}

@section adminstyles {
    <link rel="stylesheet" href="~/css/Admin.css" />
}

<div class="panel-text">
    This is the admin panel.
</div>