@model AccountModel

@{
    ViewData["Title"] = "Profile";
}

@section profilestyles {
    <link rel="stylesheet" href="~/css/Profile.css" />
}

<form asp-action="Update">
    <div>
        <label for="username">Uživatelské jméno</label>
        <input asp-for="Username" id="username" />
    </div>

    <div>
        <label for="password">Heslo</label>
        <input asp-for="Password" id="password" />
    </div>

    <div>
        <label for="name">Jméno</label>
        <input asp-for="Name" id="name" />
    </div>

    <div>
        <label for="surname">Příjmení</label>
        <input asp-for="Surname" id="surname" />
    </div>

    <div>
        <label for="email">Email</label>
        <input asp-for="Email" id="email" />
    </div>

    <div>
        <label for="phone">Telefon</label>
        <input asp-for="Phone" id="phone" />
    </div>

    <div>
        <label for="country">Země</label>
        <input asp-for="Country" id="country" />

        <datalist id="country">
            <option value="ČR"></option>
            <option value="SR"></option>
        </datalist>
    </div>

    <button type="submit">Uložit</button>
    <button type="reset">Zrušit</button>
</form>