a {
    text-decoration: none;
}

.divider {
    display: flex;
    align-items: center;
    width: 100%;
}

    .divider::before, .divider::after {
        content: "";
        flex: 1;
        border-style: solid;
        border-color: #b8bfd0;
        border-width: 1px;
    }

    .divider > img {
        margin: 10px;
    }

    .divider::before {
        margin-left: 40px;
    }

    .divider::after {
        margin-right: 40px;
    }

.upper-images {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    margin: 10px 5px 5px 5px;
    align-items: center;
}

.gr {
    justify-self: center;
}

.categories-table {
    width: 95%;
    color: #b4bed5;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    justify-self: center;
    border-collapse: collapse;
    font-size: 16px;
}

.top-advert {
    display: block;
    background-image: url(../images/img/03-02.png);
    background-repeat: no-repeat;
    background-position: 50%;
    height: 450px;
    align-content: center;
    margin: 20px 40px 20px 40px;
}

    .top-advert > p {
        text-align: center;
    }

.cart-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

a > .product-cart {
    width: 30px;
    height: 30px;
    display: inline;
}

.start-text {
    font-size: 35px;
}

.upper-text {
    text-align: center;
    color: #c7232f;
}

.lower-text {
    text-align: center;
    color: #304068;
    font-weight: bold;
}

.products-button {
    text-align: center;
}

products-button:hover {
    background-color: #8a1920;
}

.products-button > a {
    font-size: 16px;
    background-color: #c7232f;
    border-style: none;
    padding: 15px;
}

.products-button > a {
    color: white;
}

.product {
    border-style: solid;
    border-color: #b4bed5;
    margin: 10px;
    display: inline-block;
    width: calc(25% - 40px);
    vertical-align: top;
}

    .product > a > img {
        width: 100%;
        height: 100%;
    }

    .product > a > p {
        font-size: 18px;
        color: #304068;
        width: 90%;
        margin-left: 10px;
    }

    .product > a > .product-cart {
        width: 30px;
        height: 30px;
        display: none;
    }

    .product:hover {
        border-color: #c7232f;
    }

.new-price {
    font-size: 20px;
    color: #c7232f;
    font-weight: bold;
    margin: 10px 10px 20px 10px;
}

.old-price {
    font-size: 20px;
    color: #b5bfd5;
    text-decoration: line-through;
}

.storage {
    margin-top: 20px;
}

.storage-availability, .free-delivery, .size-measurement {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    margin: 10px;
}

    .storage-availability > img, .free-delivery > img, .size-measurement > img {
        background-color: #304068;
        border-color: #304068;
        border-style: solid;
        border-radius: 50%;
    }

.newsletter {
    background-image: url(../images/img2/Newsletter.png);
    margin: 30px 0px 0px 0px;
    height: 300px;
    background-repeat: no-repeat;
    padding: 8px;
}

    .newsletter > p {
        text-align: center;
        margin: 0px;
    }

.newsletter-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
}

    .newsletter-form > input[type = "email"] {
        width: 300px;
        height: 44px;
        font-size: 16px;
        padding-left: 10px;
        border-style: solid;
        border-color: #b4bed5;
        border-width: 1px;
    }

.upper-text-form {
    font-weight: bold;
    font-size: 36px;
    padding-top: 40px;
}

.lower-text-form {
    font-size: 22px;
    color: #304068;
    padding-top: 5px;
}

.form-header > h2 {
    text-align: center;
    margin: 0px 10px 10px 10px;
    color: #304068;
}

.form-header > p {
    margin: 0px 10px 0px 10px;
    color: #304068;
}

.demand-form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

    .demand-form > label {
        margin: 20px 0px 0px 0px;
        color: #304068;
    }

    .demand-form > input {
        height: 40px;
        border-style: solid;
        border-color: #b4bed5;
        color: #304068;
    }

.payment-type {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 80px;
    margin: 20px 0px 0px 0px;
    color: #304068;
}

.form-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

.back-button {
    border-style: solid;
    border-width: 2px;
    border-color: #8a1920;
    background-color: white;
    color: #304068;
    width: 90px;
    height: 40px;
    font-size: 15px;
}

.continue-button {
    border-style: none;
    background-color: #c7232e;
    color: white;
    width: 150px;
    height: 40px;
    font-weight: bold;
    font-size: 15px;
    font-weight: bold;
}

.header {
    background-color: #3d5068;
    color: white;
    padding: 20px 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
